<!DOCTYPE html>
<html>
<head>
<title style="text-align:center;">Sample</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color:white;
  color: black;
}


</style>
</head>

<ul>
  <li><a href="Home.html">Home</a></li>
  <li><a href="About.html">About</a></li>
  <li><a href="BookTourMH.html">Book Tour</a></li>
  
  <li style="float:right"><a href="adminlogin.html">Admin Login</a></li>
  <li style="float:right"><a href="NewLogin.html">Login</a></li>
  <li style="float:right"><a href="http://localhost:8080/EP_SKILLPROJECT/Register.html"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
  
</ul>

 </body>
 </html>