<!DOCTYPE html>
<html>
<title>Offers</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<meta charset="UTF-8">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="offersstyle.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
<body class="w3-content" style="max-width:1200px">
<div class="jumbtron">
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:20px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="of1.jpg" alt="Sandwich" style="width:90%">
      <h3>Bangaloore</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
       <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>
    </div>
    <div class="w3-quarter">
      <img src="of3.jpg" alt="Steak" style="width:90%">
      <h3>Goa</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
   <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>
    </div>
    <div class="w3-quarter">
      <img src="of4.jpg" alt="Cherries" style="width:90%">
      <h3>Delhi</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
    <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>
    </div>
    <div class="w3-quarter">
      <img src="of5.jpg" alt="Pasta and Wine" style="width:90%">
      <h3>Mumbai</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
      <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>
    </div>
  </div>
</div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="of6.jpg" alt="Popsicle" style="width:90%">
      <h3>Kolkata</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
      <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>

    </div>
    <div class="w3-quarter">
      <img src="of7.jpg" alt="Salmon" style="width:90%">
      <h3>Shimla</h3>
<h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
      <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>
    </div>
    <div class="w3-quarter">
      <img src="of8.jpg" alt="Sandwich" style="width:90%">
      <h3>Rajasthan</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
      <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>

    </div>
    <div class="w3-quarter">
      <img src="of9.jpg" alt="Croissant" style="width:90%">
      <h3>Uttarakhand</h3>
      <h4><b>20% OFF YOUR PURCHASE</b></h4>
      <p class="expire">Expires: Jan 03, 2021</p>
      <a href="F:\Desktop\Enterprise Programming\Final Project\Booking\Booking.html" class="btn btn-primary">Book now</a>

    </div>
  </div>

<!-- Top menu on small screens -->
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>
  
  <!-- Top header -->
  

  <!-- Image header -->
  

  

  <!-- Product grid -->

</body>
</html>